*
{
	box-sizing: border-box;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	transition: background 0.2s linear;
}
body.dark
{
	background-color: #292c35;
}
.checkbox
{
	opacity: 0;
	position: absolute;
}
.checkbox:checked + .label .ball
{
	transform: translateX(24px) scale(1.3);

}
.label
{
	background-color: #111;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	border-radius: 50px;
	height: 26px;
	width: 50px;
	position: relative;
	transform: scale(1.5);
}
.ball
{
	background-color: #fff;
	position: absolute;
	height: 22px;
	width: 22px;
	top: 2px;
	left: 2px;
	border-radius: 50%;
	transition: transform 0.2s linear;
	transform: scale(1.3);
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2); 
}
.fa-moon
{
	color: #f1c40f;
}
.fa-sun
{
	color: #f39c12;
}
